// Color

$mineShaft: rgb(38,38,38);
$outrageousOrange: rgb(255,96,51);
$whisper: rgb(249,248,251);
$abbey: rgb(80,80,81);
$white: rgb(255,255,255);


// Typograpfy

$base-font-family: 'Raleway', sans-serif;
$logo-font-family: 'Pacifico', cursive;
$base-font-size: 16px;